@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: alpha(@background, 0.8);
    border: 1px solid alpha(@color1, 0.5);
    border-radius: 12px;
}

tooltip label {
    color: @foreground;
    padding: 6px;
}

/* --- SECTION WORKSPACES --- */
#workspaces {
    background-color: alpha(@color0, 0.6); /* Fond plus sombre pour détacher les chiffres */
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid alpha(@color1, 0.3);
}

#workspaces button {
    padding: 0 6px;
    margin: 0 5px;
    border-radius: 50px;
    color: @foreground;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    background-color: @color4; /* Couleur pleine pour l'espace actif */
    color: @color0;            /* Texte sombre sur bouton clair */
    min-width: 50px;
}

/* --- SECTION BULLES (CORRECTION LISIBILITÉ) --- */
#custom-menu {
    /* 1. on utilise @color0 (le noir/sombre de pywal) pour le fond de la bulle */
    background-color: alpha(@color0, 0.7); 
    padding: 0 15px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid alpha(@color1, 0.4);


    /* 2. ombre portée pour que le texte "pop" peu importe le fond */
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

#tray,
#clock,
#custom-notification {
    /* 1. on utilise @color0 (le noir/sombre de pywal) pour le fond de la bulle */
    background-color: alpha(@color0, 0.7); 
    padding: 0 15px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid alpha(@color1, 0.4);


    /* 2. ombre portée pour que le texte "pop" peu importe le fond */
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

#hardware,
#connectivity {
    background-color: alpha(@color0, 0.7);
    border: 1px solid alpha(@color1, 0.4);
    border-radius: 50px;
    padding: 2px 12px;
    margin-left: 12px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

#cpu,
#memory,
#temperature,
#pulseaudio,
#network,
#battery {
    background-color: transparent; /* Pas de fond individuel */
    border: none;                 /* Pas de bordure individuelle */
    margin: 0;                    /* Pas de marge entre eux */
    padding: 0 8px;              /* Espacement interne pour les icônes */
}

/* 3. Couleurs dynamiques des icônes et textes */
#clock { 
    color: @color4; 
}
#cpu { color: @color2; }
#memory { color: @color5; }
#temperature { color: @color4; }
#pulseaudio { 
    color: @color3; 
}
#network { 
    color: @color5; 
}
#battery { 
    color: @color2; 
}
#custom-notification { 
    color: @color6; 
}
#custom-menu {
	color: @color4;
}
/* Animation pour la batterie */
@keyframes blink {
    to {
        opacity: 0.5;
    }
}
